@charset "utf-8";
/* CSS Document */
						/*Dot Classes*/

.tagTitle
{
	font-size: 10px;
	color: #FFF;
	font-weight: bold;
	text-decoration: underline;
}

.links:hover
{
	padding: 0px;
	text-align: center;
}

.links
{
	padding: 1px;
}